#camerafeed {
  z-index: 0 !important;
  position: absolute;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  }
  body{
    touch-action: pan-x pan-y; /* prevent zoom gesture */
    margin: -1px 0px 0px 0px !important;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }