body {
  touch-action: pan-x pan-y; /* prevent zoom gesture */
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;
  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;
}

h1 {
  /* position the heading */
  position: absolute;
  width: 100%;

  /* make sure that the heading is drawn on top */
  z-index: 1;
}
button {
  /* position the heading */
  position: absolute;
  left: 0;
  top: 50px;
  /* make sure that the heading is drawn on top */
  z-index: 1;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 100%;
  height: 100%;

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: skyblue;
}

#imgshow {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

#stats {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}


.introPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 16;
  display: flex;
}

.introPage #introImg {
  width: 100%;
  height: auto;
}

.explainPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 14;
  display: flex;
}

.explainPage #explainImg {
  width: 100%;
  height: auto;
}

.choosePage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 13;
  display: flex;
}

.choosePage #chooseImg {
  width: 100%;
  height: auto;
}

#ChooseInP5{
  z-index: 15;
  position: absolute; /* ios can't set 'relative ' */
  top: 0px;
  left: 0px;    
  /* display: none; */
}


.rankPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 13; /* index:13 */
  display: none; /* js control 'flex' */
}

.rankPage #rankImg {
  width: 100%;
  height: auto;
}

.resultPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 14; 
  display: none; /* js control 'flex' */
}

.target {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 13; /* index:13 */
  display: none; /* js control 'block' */
 /*  pointer-events: none; */
}

.startButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 13; 
  display: none; /* js control 'flex' */
 /*  pointer-events: none; */
}

.startButton #startImg {
  width: 100%;
  height: auto;
}