body {
  touch-action: pan-x pan-y; /* prevent zoom gesture */
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;
  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;
}

h1 {
  /* position the heading */
  position: absolute;
  width: 100%;

  /* make sure that the heading is drawn on top */
  z-index: 1;
}
button {
  /* position the heading */
  position: absolute;
  left: 0;
  top: 50px;
  /* make sure that the heading is drawn on top */
  z-index: 1;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 100%;
  height: 100%;

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background-color: skyblue;
}

#imgshow {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

#stats {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.7);
  z-index: 15;
}

#onboarding {
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 14;
  position: relative;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background: #ffffff;
  overflow-y: auto;
  /*  overflow: hidden; */
}
#onboarding #onboarding-cover-image {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
}
#onboarding #onboarding-text-container {
  padding: 15px 25px 40px 25px;
}
#onboarding #onboarding-text-container #onboarding-text {
  overflow-wrap: break-word;
  margin: 0 0 25px 0;
}
#onboarding #onboarding-text-container #onboarding-text strong {
  font-weight: 700;
}

.onboarding-button {
  position: relative;
  width: 147px;
  height: 45px;
  background: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-radius: 0;
  border: 4px solid;
  border-color: #00bdac;
  text-transform: uppercase;
  color: #00bdac;
}

.onboarding-button:focus {
  background: none !important;
}

.choosePage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 13;
  display: flex;
}

.choosePage #chooseImg {
  width: 100%;
  height: auto;
}

#ChooseInP5{
  z-index: 15;
  position: absolute; /* ios can't set 'relative ' */
  top: 0px;
  left: 0px;    
  /* display: none; */
}


.rankPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 13; /* index:13 */
  display: none; /* js control 'flex' */
}

.rankPage #rankImg {
  width: 100%;
  height: auto;
}

.resultPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 14; 
  display: none; /* js control 'flex' */
}

